$primary-gray: #707880;
$primary-black: #16181E;
$primary-yellow: #F99C10;
$primary-blue: #0E7BD7;
$secondary-yellow: #FFF9EF;
$secondary-gray: #B0BAC5;
//
$link-gray: #707880;
$sidebar-gray: #F6F7F9; //
$base-font: "Montserrat", sans-serif;
$secondary-font: "Helvetica", sans-serif;

body {
  font-family: $base-font;
}

a {
  color: $primary-blue;
}

/////// elemenets
.admin-sidebar {
  li {}
}

.company-block,
.title-block {
  font-weight: 600;

  h3 {
    margin-bottom: 5px;
  }

  p {
    color: $secondary-gray;
  }
}

.admin-sidebar {
  background: $sidebar-gray;
}

.admin-sidebar__nav-pd {
  &:before {
    background: $sidebar-gray;
    position: absolute;
    top: -70px;
    left: 0;
    content: "";
    height: 130vh;
    width: 100%;
    z-index: -1;
  }
}

.admin-sidebar__u-list {
  margin-top: 50px;

  .nav-link {
    color: $link-gray;
    font-family: $base-font;
    padding-left: 10px;
    position: relative;

    &.active {
      &::before {
        background: $primary-yellow;
        width: 10px;
        height: 45px;
        position: absolute;
        left: -20px;
        top: 0;
        content: "";
      }
    }
  }
}

.admin-sidebar__item {
  margin: 10px 0;

  img {
    margin-right: 10px;
    float: left;
  }

  span {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    max-width: 75px;
  }

  .active {
    color: $primary-black;

    span {
      font-weight: 700;
    }
  }
}

.admin-sidebar__item--logout {
  position: absolute;
  bottom: 80px;

  a {
    font-weight: 600;
  }
}

.yellow-bk {
  background: $secondary-yellow;
}

main {
  height: 95vh;
}

nav.sidebar {
  position: relative;
}

.button__primary {
  background-image: linear-gradient(0deg, #FBB040 0%, #FB9B40 11%, #FBB040 100%);
  border: 2px solid #FBB040;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
}

.honeycomb-bk {
  padding: 20px 0;

  &::after,
  &::before {
    border-radius: 8px;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  &::before {
    z-index: -1;
    background: url("../imgs/honeycomb-background.png");
    background-size: 100%;
    background-position: 50% ;
  }

  &::after {
    background: $primary-yellow;
    top: 0;
    z-index: -2;
  }

  h2 {
    color: white;
    font-weight: 700;
    padding: 15px 0;
    text-align: center;
  }

  & + p {
    margin: 0 auto;
    text-align: center;
    width: 240px;
  }
}

table {
  font-weight: 500;

  th:first-child {
    font-weight: inherit;
  }
}

.table .thead-light th {
  background: $sidebar-gray;
  color: $secondary-gray;
  font-weight: 500;
  padding: 5px .75rem;

  &:first-child {
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background: white;
}

.table-striped tbody tr:nth-of-type(even) {
  background: $sidebar-gray;
}

.faq-sidebar__img-container {
  img {
    width: 100%;
    height: 100%;
  }
}


footer {
  border-top: 2px solid $sidebar-gray;
  margin-top: 40px;

  h6 {
    color: $secondary-gray;
  }

  a {
    color: $secondary-gray;
  }
}
///////typography/////////
h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 700;
}

.lt-gray {
  color: $secondary-gray;
}

.page-header__margin-fix {
  margin-top: -45px;
}


/////////// LOAN RECORDS //////////////
.rounded-container {
  border: 1px solid #DCE0E7;
  box-shadow: 0 4px 6px 0 rgba(176,186,197,0.20);
  border-radius: 6px;
}

.loan-agreement__block {
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
}


////// MANAGE EMPLOYEES //////
.search-employees__input {
  background: #F6F7F9;
  color: #B0BAC5;
  border: 1px solid #DCE0E7;
  border-radius: 3px;
  letter-spacing: 0;
  padding: 9px 10px;
}

.search-employees__button {
  background-color: $primary-yellow;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  height: 45px;
  position: relative;
  top: -5.5px;
  left: -8px;

  &:before {
    background: url("../imgs/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    content: "";
    height: 40px;
    left: 10px;
    position: absolute;
    top: 10.5px;
    width: 40px;
  }
}


///////////// SUPPORT ////////////
.support-container {
  overflow: hidden;
  padding: 40px 20px;
  position: relative;

  &::before {
    background: url("../imgs/honeycomb-a.svg");
    right: -35px;
    top: 0;
  }

  &::after {
    background: url("../imgs/honeycomb-b.svg");
    background-size: 100%;
    left: 0;
    bottom: 0;

  }

  &::before,
  &::after {
    content: "";
    background-repeat: no-repeat;
    height: 220px;
    position: absolute;
    // top: 0;
    width: 300px;
    z-index: -1;
  }

  p {
    color: $secondary-gray;
    margin: 0;
    font-weight: 500;
  }

  .support__image {
    border: 1px solid $primary-yellow;
    border-radius: 120px;
    margin-bottom: 15px;
    width: 75px;
  }
}

.faq-container {
  padding: 30px 0 20px;

  a,
  h3 {
    width: 90%;
    margin: 0 auto;
  }

  a {
    border-top: 1px solid $secondary-gray;
    padding: 15px 0;
    display: block;
  }

  a:nth-child(2) {
    border-top: 0 solid transparent;
  }
}

.support-video-container {
  margin-bottom: 30px;

  img.support-video__item--thumbnail {
    bottom: 0;
    height: auto;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}


.faq-container--sidebar {

  a,
  h3 {
    width: 90%;
    margin: 0 auto;
  }

  a {
    border-top: 1px solid $secondary-gray;
    padding: 15px 0;
    display: block;
  }

  :first-child {
    border-top: 0px solid transparent;
  }
}

.support-video__item {
  min-height: 220px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    background: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
  }

  img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
  }

  .support-video__item--content {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h3,
  .support-video__item--play-button {
    color: white;
    position: relative;
    top: 0;
    width: 95%;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
  }

  h3 {
    max-height: 40px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .support-video__item--play-button {
    // height: auto;
    margin: 0 auto;
    width: 55px;
    // top: 50%;
  }

  .support-video__item--link {
    display: block;
    text-align: center;
  }
}

.loan-reason {
  display: block;
}

.loan-reason__list {
  list-style-type: none;
  padding-left: 17px;
  text-decoration: none;
}

.loan-reason__item--graph {
  background: $sidebar-gray;
  border-radius: 8px;
  margin: 20px auto 10px auto;
  overflow: hidden;
  position: relative;
}

.loan-reason__item {
  margin-bottom: 25px;

  svg {
    position: relative;
    top: -1px;
  }


  &:nth-child(1) {
    .loan-reason__item--graph::before {
      background-color: #A8CCC9;
      width: 48%;
    }
    svg {
      path {
        fill: #A8CCC9;
      }
    }
  }

  &:nth-child(2) {
    .loan-reason__item--graph::before {
      background-color: #4D9DE0;
      width: 20%;
    }
    svg {
      path {
        fill: #4D9DE0;
      }
    }
  }

  &:nth-child(3) {
    .loan-reason__item--graph::before {
      background-color: #3BB273;
      width: 12%;
    }
    svg {
      path {
        fill: #3BB273;
      }
    }
  }

  &:nth-child(4) {
    .loan-reason__item--graph::before {
      background-color: #7768AE;
      width: 10%;
    }
    svg {
      path {
        fill: #7768AE;
      }
    }
  }

  &:nth-child(5) {
    .loan-reason__item--graph::before {
      background-color: #FF8360;
      width: 8%;
    }
    svg {
      path {
        fill: #FF8360;
      }
    }
  }
}

.loan-reason__item--graph {
  background: $sidebar-gray;
  display: block;
  height: 45px;
  margin: 20px auto 10px auto;
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 33%;
    content: "";
  }
}

.loan-reason__item--type {
  padding-left: 7.5px;
}
